/*
Colors used:
Button color (Red): #ff000f
White: #FFFFFF
Black: #000000
Secondary Color (light turquoise): #e6fbfa
tertiary color(dark turquoise): #84ccc9
*/
img {
  width: 100%;
}

.profile-pic {
  width: 300px;
  margin: 0px 25px 0px 25px;
}

.img-illustration {
  max-width: 300px;
  height: auto;
}

header {
  background-color: #fff;
  margin: 0 15px 15px 0;
  border-bottom: 3px solid #fff;
  padding: 10px 0 4px;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
}

h4 {
  font-weight: 700;
  font-size: 2.5em;
  color: #349aae;
}

h2 {
  font-weight: 700;
  font-size: 1.8em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #00c6ce;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #00c6ce;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.6;
  text-decoration: none;
}

.button.contact {
  background-color: #00c6ce;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #00c6ce;
}

.button.contact:hover {
  opacity: 0.6;
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

nav > ul > li > a:visited {
  /* Add this based on previous exercise */
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

nav > ul > li > a:hover {
  /* Add this based on previous exercise */
  padding: 0 15px;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 700;
  color: #84ccc9;
}

nav > ul > li > a:active {
  /* Add this based on previous exercise */
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hero {
  background-color: #e6fbfa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#main {
  padding-top: 184px;
}

#header {
  position: fixed;
  box-shadow: 0 9px 5px 0 rgba(50, 50, 50, 0.75);
  width: 100%;
}

#contact {
  text-align: center;
  position: static;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

/* Animation Beginning */
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  /* <-----to move the cloud in back */
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.project-thumbnail h3 {
  margin-top: 0;
}

#profile-pic img {
  max-width: 200px;
}

/* Footer style starts here */
.social-icon {
  width: 60px;
  height: 60px;
}

/* Footer style ends */

/* Medium devices (640px and larger)
================================================================================================== */
@media only screen and (min-width: 641px) {
  #about-page h3 {
    margin-top: 0;
  }

  .profile-pic {
    float: left;
  }
}

.navtoggle {
  text-align: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* removed 'padding: 20px 0 13px;' from .navtoggle above */

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

nav > ul > li {
  display: inline-block;
}

nav > ul {
  margin: 1em 0;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.logo {
  max-width: 250px;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#main {
  padding-top: 99px;
}

#hero span {
  display: block;
}

/* Medium devices (1024px and larger)
================================================================================================== */
@media only screen and (min-width: 1024px) {
  .navtoggle {
    display: block;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (1440px and larger)
  ================================================================================================== */
